<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'MusicVoteApp/style.css' %}" />
<script src="{% static 'MusicVoteApp/jquery-1.11.2.min.js' %}"></script>
<html>
    <head>
        <title>MusicVote</title>
        <div id="menu">
            <h1>MusicVote</h1>
            <h2>Welcome to social listening</h2>
            <ul>
                <li><a href="/home/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/logout_user/">Logout</a></li>
            </ul>
        </div>
    </head>
    {% block content %}{% endblock %}
</html>