{% extends "MusicVoteApp/base.html" %}
{% block content %}
{% load static %}
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{% static 'MusicVoteApp/musicChannelLib.js' %}"></script>
<script src="{% static 'MusicVoteApp/ajaxCookieEmbed.js' %}"></script>
<body>
    {% csrf_token %}
    <div>
        <h1 id="channel-title" data-channel-id="{{ channel.id }}">{{ channel.channel_name }}</h1>
    </div>
    <div id="channel-chat">
        <h2>Chat</h2>
        {% if messages %}        
        <ul>
            {% for message in messages %}
            <li>[message.posted_by]: message.message_text</li>
            {% endfor %}
        </ul>
        {% endif %}
        <input type="text" id="new-message-input" />
        <button type="button" id="submit-message">Submit</button>
    </div>
    {% if song_to_play %}
        <div id="player" data-video-id="{{ song_to_play.video_id }}"></div>
    {% endif %}
    {% if songs %}
    <div id="playlist">
        <h2 id="playlist">Playlist</h2>
        <div id="song-list">
            <table>
                <tr>
                    <th>Song</th>
                    <th>Votes</th>
                </tr>
                {% for song in songs %}
                    <tr>
                    <td>{{ song.song_url }}</td>
                    <td id="song-votes-{{ song.id }}">{{ song.votes }}</td>
                    <td><button type="button" class="voteBtn" data-song-id="{{ song.id }}">Vote</button></td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
    {% if is_owner %}
    <div id="add-song">
        <form method="post" action="/musicchannel/{{ channel.slug }}/">
            {% csrf_token %}
            {{ new_song_form.as_p }}
            <input type="submit" name="submit" value="Add song" />
        </form>
    </div>
    {% endif %}
</body>
{% endblock %}