{% extends "MusicVoteApp/base.html" %}
{% block content %}
{% load static %}
<script src="https://www.youtube.com/iframe_api"></script>
<script src="{% static 'MusicVoteApp/musicChannelLib.js' %}"></script>
<script src="{% static 'MusicVoteApp/ajaxCookieEmbed.js' %}"></script>
<body>
    <button id="testBtn">Test</button>
    {% csrf_token %}
    <div>
        <h1 id="channel-title" data-channel-id="{{ channel.id }}">{{ channel.channel_name }}</h1>
        {% if songs %}
        <div id="song-list">
            <ul>
                {% for song in songs %}
                    <li>{{ song.song_url }}</li>
                    <h3 id="song-votes-{{ song.id }}">{{ song.votes }}</h3>
                    <button type="button" class="voteBtn" data-song-id="{{ song.id }}">Vote</button>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if song_to_play %}
            <div id="player" data-video-id="{{ song_to_play.video_id }}"></div>
        {% endif %}
        <form id = "new_song_form" method = "post" action = "/musicchannel/{{ channel.slug }}/">
            {% csrf_token %}
            {{ new_song_form.as_p }}
            <input type="submit" name="submit" value="Add song" />
        </form>
    </div>
</body>
{% endblock %}